* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  color: #4c5059;
  line-height: 1.3;
}

.Frame {
  width: 100%;
  height: 100%;
  border: none;
}

.Container {
  margin-top: 65px;
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ErrorMessage {
  margin-top: 1rem;
  font-weight: bold;
}
